<div
  class="min-h-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8"
>
  <div class="max-w-md w-full space-y-8">
    <div>
      <img
        class="mx-auto h-12 w-auto"
        src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg"
        alt="Workflow"
      />
      <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
        Register for bootstrap Bootcamp
      </h2>
    </div>
    {{ useModel | json }}
    <form class="mt-8 space-y-6" #userForm="ngForm">
      <input type="hidden" name="remember" value="true" />
      <div class="rounded-md shadow-sm -space-y-px">
        <div>
          <label for="email-address" class="sr-only">Email address</label>
          <input
            [(ngModel)]="useModel.email"
            id="email-address"
            name="email"
            type="email"
            autocomplete="email"
            required
            class="appearance-none my-1 relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
            placeholder="Email address"
          />
        </div>
        <div>
          <label for="Name" class="sr-only">Name</label>
          <input
            #name="ngModel"
            [(ngModel)]="useModel.name"
            id="Name"
            name="Name"
            type="text"
            autocomplete=""
            required
            class="appearance-none my-1 relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
            placeholder="Name"
            [class.border-danger]="name.touched && name.invalid"
          />
        </div>
        <div *ngIf="name.touched && name.invalid" class="bg-red-300">
          name is required
        </div>
        <div>
          <label for="Phone" class="sr-only">Phone</label>
          <input
            #phone="ngModel"
            [(ngModel)]="useModel.phone"
            id="Phone"
            name="Phone"
            type="tel"
            required
            autocomplete=""
            required
            pattern="^\d{10}$"
            class="appearance-none my-1 rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
            placeholder="Phone"
            [class.border-danger]="phone.touched && phone.invalid"
          />
        </div>
        <div
          *ngIf="phone.errors && phone.touched && phone.invalid"
          class="bg-red-300"
        >
          <small *ngIf="phone.errors['required']">phone is required</small>
          <small *ngIf="phone.errors['pattern']">phone number must be of 10 digits length</small>
        </div>

        <div>
          <select
            name="courses"
            id=""
            class="appearance-none block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding bg-no-repeat border border-solid border-gray-300 transition ease-in-out m-0 focus:text-gray-700 focus:outline-none"
            [(ngModel)]="useModel.topic"
          >
            <option selected name="topic">Im interested in</option>
            <option value="{{ course }}" *ngFor="let course of courses">
              {{ course }}
            </option>
          </select>
        </div>
        <div class="div" ngModelGroup="address">
          <div class="flex items-center justify-between">
            <label for="street" class="sr-only">Street</label>
            <input
              ngModel
              id="street"
              name="street"
              type="text"
              autocomplete=""
              required
              class="appearance-none my-1 rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
              placeholder="Street"
            />
          </div>
          <div class="flex items-center justify-between">
            <label for="city" class="sr-only">city</label>
            <input
              ngModel
              id="city"
              name="city"
              type="text"
              autocomplete=""
              required
              class="appearance-none my-1 rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
              placeholder="city"
            />
          </div>
          <div class="flex items-center justify-between">
            <label for="state" class="sr-only">state</label>
            <input
              ngModel
              id="state"
              name="state"
              type="text"
              autocomplete=""
              required
              class="appearance-none my-1 rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
              placeholder="city"
            />
          </div>
          <div class="flex items-center justify-between">
            <label for="Postal Code" class="sr-only">Postal Code</label>
            <input
              ngModel
              id="Postal Code"
              name="postal-code"
              type="text"
              autocomplete=""
              required
              class="appearance-none my-1 rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
              placeholder="Postal Code"
            />
          </div>
        </div>
        <div>
          <div
            class="appearance-none my-1 rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
          >
            Time Preference
          </div>
          <input
            [(ngModel)]="useModel.timePreference"
            type="radio"
            class="form-check-input"
            name="timePreference"
            id="morning"
            value="morning"
          />
          <label for="morning" class="fomr-check-label">Morning</label>
          <input
            [(ngModel)]="useModel.timePreference"
            type="radio"
            class="form-check-input"
            name="timePreference"
            id="evening"
            value="evening"
          />
          <label for="evening" class="fomr-check-label">Evening</label>
        </div>
      </div>

      <div class="flex items-center justify-between">
        <div class="flex items-center">
          <input
            [(ngModel)]="useModel.subscribed"
            id="remember-me"
            name="subscribed"
            type="checkbox"
            class="h-4 w-4 text-indigo-600 focus:ring-indigo-500 border-gray-300 rounded"
          />
          <label for="subscribed" class="ml-2 block text-sm text-gray-900">
            Send me promotional offers
          </label>
        </div>
      </div>

      <div>
        <button
          type="submit"
          class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
          (click)="submitForm($event)"
        >
          <span class="absolute left-0 inset-y-0 flex items-center pl-3">
            <svg
              class="h-Register for bootstrap Bootcamp-500 group-hover:text-indigo-400"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
                clip-rule="evenodd"
              />
            </svg>
          </span>
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
